<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAB Stacoverflow</title>
</head>
<body>
    <h1>Add new comment</h1>
    {% if mode == "question" %}
        <h1>{{ question["title"] }}</h1>
        <br>
        <p>{{ question["message"] }}</p>
        <br>
        <form action="{{ url_for("add_comment_to_question_post", question_id=question["id"])}}" method="post">
        <input name="question_id" id="question_id" type="hidden" value="{{ question["id"] }}">
        <input name="edited_count" id="edited_count" type="hidden" value="{{ 0 }}">
        <label for="message">Message:</label>
        <textarea name="message" id="message" minlength="5" maxlength="1500"></textarea>
        <br><br>
        <button type="submit">Add comment</button>
        </form>
    {% else %}
        <h1>{{ question["title"] }}</h1>
        <br>
        <p>{{ question["message"] }}</p>
        <br>
        <h2>{{ answer["message"] }}</h2>
        <br><br>
        <form action="{{ url_for("add_comment_to_answer_post", answer_id=answer["id"]) }}" method="post">
            <label for="answer_comment">Comment:</label>
            <textarea name="message" minlength="5" maxlength="1500"></textarea>
            <input type="hidden" name="answer_id" value="{{ answer["id"] }}">
            <input type="hidden" name="edited_count" value="{{ 0 }}">
            <br><br>
            <button type="submit">Add comment</button>
        </form>
    {% endif %}


</body>
</html>