{% extends "layout.html" %}
{% set add_icon = True %}

{% block content %}
    {% if not question_id %}
        <div class="form-box">
            <div class="form-header">
                <h2>Add new question</h2>
            </div>
            <div class="user-box">
                <form action="{{ url_for('add_question_post') }}" method="post" enctype="multipart/form-data">
                    <label for="title">Title question:</label><br>
                    <input class="input-field" name="title" id="title" type="text" minlength="5" maxlength="100" value=""><br>
                    <label for="message">Message question:</label><br>
                    <textarea class="textarea-field" name="message" id="message" minlength="5" maxlength="1500"></textarea><br>
                    <label for="image">Image:</label><br>
                    <input type="file" name="image" id="image" value="No file uploaded yet">
                    <label for="question_tags">Choose tags:</label><br>
                        {% for tag in tags_list %}
                            <input type="checkbox" name="{{ tag['name'] }}" id="{{ tag['name'] }}" value="{{ tag['name'] }}">{{ tag['name'] }}
                        {% endfor %}
                    <br>
                    <label for="add_new_tag">Add a new tag:</label><br>
                    <input type="text" name="tag" id="tag" minlength="2" maxlength="15"><br>


                    <input name="view_number" id="view_number" type="hidden" value="{{ 0 }}">
                    <input name="vote_number" id="vote_number" type="hidden" value="{{ 0 }}">
                    <input name="answers_number" id="answers_number" type="hidden" value="{{ 0 }}">
                    <input name="status" id="status" type="hidden" value="{{ "new" }}">

                    <input class="submit-form" type="submit" value="Add new question">
                </form>
            </div>
    </div>
    {% else %}
        <div class="question-info">
            <h4>Question:</h4>
            <h5>{{ question["title"] }}:</h5>
            <p>{{ question["message"] }}</p>
        </div>
        <div class="form-box">
            <div class="form-header">
                <h2>Add new answer</h2>
            </div>
            <div class="user-box">
                <form action="{{ url_for("post_an_answer_post", question_id=question["id"]) }}" method="post" enctype="multipart/form-data">
                    <input name="question_id" id="question_id" type="hidden" value="{{ question_id }}">
                    <label for="message">New answer:</label><br><br>
                    <textarea name="message" id="message" minlength="1" maxlength="5000"></textarea>
                    <br><br>
                    <input name="image" id="image" type="hidden" value="">
                    <input name="vote_number" id="vote_number" type="hidden" value="{{ 0 }}">
                    <br><br>
                    <input type="file" name="image" id="image" value="No file uploaded yet">
                    <br><br>
                    <button type="submit">Add answer</button>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}