<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question["Title"] }}</title>
</head>
<body>
    <p>{{ question["Submission Time"] }}, viewed: {{ question["View Number"] }}     votes: {{ question["Vote Number"] }}</p>

    <h1>{{ question["Title"] }} </h1>
    <p><b><h3>{{ question["Message"] }}</h3></b></p>

    <table>
        {% for answer in answers %}
            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>{{ answer["Message"] }} </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i><small>{{ answer["Submission Time"] }}      votes: {{ answer["Vote Number"] }}</small></i>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <table>
        <tbody>
            <tr>
{#                {% if question["Id"] != "1" %}#}
{#                    <form action="{{ url_for("display_a_question", question_id=prev) }}">#}
{#                        <button type="submit">Previous question</button>#}
{#                    </form>#}
{#                {% else %}#}
{#                    <button disabled>Previous question</button>#}
{#                {% endif %}#}

                 <form action="{{ url_for("post_an_answer_get", question_id=question["Id"]) }}">
                    <button type="">Add new answer</button>
                </form>

                <form action="{{ url_for("index") }}">
                    <button>Back to list of questions</button>
                </form>

{#                {% if question["Id"] != max_num %}#}
{#                    <form action="{{ url_for("display_a_question", question_id=next) }}">#}
{#                        <button type="submit">Next question</button>#}
{#                    </form>#}
{#                {% else %}#}
{#                    <button disabled>Previous question</button>#}
{#                {% endif %}#}
            </tr>
        </tbody>
    </table>
</body>
</html>