<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{{ question["Title"] }}</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <a href="{{ url_for("index") }}">
                <img src="/static/images/stack_lab_askmate.png" width = "600" height="auto">
                </a></td>
            <td>
                <img src="/static/images/discussion.png" width = "100" height="auto">

            </td>
        </tr>

    </table>
    <table border="0" width="50%">
        <tr>
            <td style="text-align: center" width="55">
                <form action="{{ url_for("index") }}">
                    <button type="submit" style="border: 0 none; background: none;" name="back_to_index" value="back_to_index"><img src="/static/images/back_to_index.png" width="50" height="auto"></button>
                </form>
            </td>
            <td></td>
            <td></td>
            <td style="text-align: center"></td>
        </tr>
        <tr>
            <td style="text-align:center">
            <form method = "POST" action="{{ url_for("vote") }}">
                <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                <input type="hidden" name="url_origin" value="display_question">
                <input type="hidden" name="vote_for_answer_or_question" value="vote_for_question">
                <button type="submit" style="border: 0 none; background: none;" name="vote" value="up_vote"><img src="/static/images/up-chevron.png" width="12" height="auto"></button>
            </form>

            <td rowspan="3" colspan="2" style="text-align: left; vertical-align: center" >
                <big><b>{{ question["Title"] }}</b></big></td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center">{{ question["Vote Number"] }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:center">
                <form method = "POST" action="{{ url_for("vote") }}">
                    <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                    <input type="hidden" name="url_origin" value="display_question">
                    <input type="hidden" name="vote_for_answer_or_question" value="vote_for_question">
                    <button type="submit" style="border: 0 none; background: none;" name="vote" value="down_vote"><img src="/static/images/down-chevron.png" width="12" height="auto"></button>
                </form>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="text-align: left; vertical-align: top"><big>{{ question["Message"] }}</big></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if question["Image"] != "" %}
                    <form action="{{ img_path }}/{{ question["Image"] }}" target="_blank">
                        <button><img src="{{ img_path }}/{{ question["Image"] }}" alt="{{ question["Image"] }}" title="{{ question["Image"] }}" width="100" height="auto"></button>
                    </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="horiz-align: center">
                {% if question["Tag"] != [""] %}
                    <p><b>Tags:</b>
                    {% for tag in question["Tag"] %}
                        {{ tag }};
                    {% endfor %}
                </p>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="horiz-align: center">
                <small>Viewed {{ question["View Number"] }} times  Question asked {{ question["Submission Time"] }} </small>
                <form action="{{ url_for('delete_question', question_id=question["Id"])}}" style="display: inline; vertical-align: top">
                    <button type="submit" style="border: 0 none; background: none;" name="delete_question" value="delete_question"><img src="/static/images/delete_question.png" width="22" height="auto"></button>
                </form>
                <form action="{{ url_for('edit_question_get', question_id=question["Id"])}}" style="display: inline; vertical-align: top">
                    <button type="submit" style="border: 0 none; background: none;" name="edit_question" value="edit_question"><img src="/static/images/edit_question.png" width="22" height="auto"></button>
                </form>
            </td>
            <td>
            </td>
            <td></td>
        </tr>
    </table>



<br><br>
    <table  border="0" width="50%">
            <tr>
                <td style="text-align: center" width="35">
                    <form action="{{ url_for("post_an_answer_get", question_id=question["Id"]) }}">
                    <button type="submit" style="border: 0 none; background: none;" name="new_answer" value="new_answer"><img src="/static/images/write_new_answer.png" width="33" height="auto"></button>
                    </form>
                </td>
                <td></td>

            </tr>
        {% for answer in answers %}
            <tr>
                <td style="text-align:center">
                    <form method = "POST" action="{{ url_for("vote") }}">
                        <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                        <input type="hidden" name="url_origin" value="display_question">
                        <input type="hidden" name="vote_for_answer_or_question" value="vote_for_answer">
                        <input type="hidden" name="answer_id" value="{{ answer["Id"] }}">
                        <button type="submit" style="border: 0 none; background: none;" name="vote" value="up_vote"><img src="/static/images/up-chevron.png" width="12" height="auto"></button>
                    </form>
                </td>
                <td style="vertical-align:center">
                    <small>Answer posted {{ answer["Submission Time"] }}</small>
                    <form action="{{ url_for("delete_answer", answer_id=answer["Id"]) }}" style="display: inline; vertical-align: top">
                    <button type="submit" style="border: 0 none; background: none;" ><img src="/static/images/delete_answer.png" width="22" height="auto"></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td></td>
                <td rowspan="3" style="text-align: left; vertical-align: top">
                    <big>{{ answer["Message"] }} </big>
                </td>
                <td rowspan="3" style="text-align: left; vertical-align: top">
                    {% if answer["Image"] != "" %}
                        <form action="{{ img_path }}/{{ answer["Image"] }}" target="_blank">
                            <button><img src="{{ img_path }}/{{ answer["Image"] }}" alt="{{ answer["Image"] }}" title="{{ answer["Image"] }}" width="100" height="auto"></button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align:center">{{ answer["Vote Number"] }}</td>
                <td></td>
            </tr>
            <tr>
            <td style="text-align:center">
                <form method = "POST" action="{{ url_for("vote") }}">
                    <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                    <input type="hidden" name="url_origin" value="display_question">
                    <input type="hidden" name="vote_for_answer_or_question" value="vote_for_answer">
                    <input type="hidden" name="answer_id" value="{{ answer["Id"] }}">
                    <button type="submit" style="border: 0 none; background: none;" name="vote" value="down_vote"><img src="/static/images/down-chevron.png" width="12" height="auto"></button>
                </form>
            </td>
            </tr>
            <tr>
                <td></td>
                <td style="horiz-align: center">
                    {% if answer["Tag"] != [""] %}
                        <p><b>Tags:</b>
                            {% for tag in answer["Tag"] %}
                                {{ tag }};
                            {% endfor %}
                        </p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>