<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question["Title"] }}</title>
</head>
<body>
    <h1>{{ question["Title"] }}</h1>
    <p><em>{{ question["Message"] }}</em></p>
    <p>published: {{ question["Submission Time"] }}, viewed: {{ question["View Number"] }}, votes: {{ question["Vote Number"] }}</p>
    <table>
        {% for answer in answers %}
            <thead>
                <tr>
                    <th>
                        Answer {{ answer["Id"] }}, published: {{ answer["Submission Time"] }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ answer["Message"] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        votes: {{ answer["Vote Number"] }}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <table>
        <tbody>
            <tr>
                {% if question["Id"] != "1" %}
                    <form action="{{ url_for("display_a_question", question_id=prev) }}">
                        <button type="submit">Previous question</button>
                    </form>
                {% else %}
                    <button disabled>Previous question</button>
                {% endif %}

                <form action="{{ url_for("index") }}">
                    <button>Previous question</button>
                </form>

                {% if question["Id"] != max_num %}
                    <form action="{{ url_for("display_a_question", question_id=next) }}">
                        <button type="submit">Next question</button>
                    </form>
                {% else %}
                    <button disabled>Previous question</button>
                {% endif %}
            </tr>
        </tbody>
    </table>
</body>
</html>