<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% if question_id %}
        <title>Edit question</title>
    {% else %}
        <title>Edit answer</title>
    {% endif %}
</head>
<body>
    <table>
        <tr>
            <td>
                <a href="{{ url_for("index") }}">
                <img src="/static/images/stack_lab_askmate.png" width = "600" height="auto">
                </a></td>
            <td>
                <img src="/static/images/discussion.png" width = "100" height="auto">
            </td>
        </tr>
    </table>
    {% if question_id %}
        <h1>Edit question</h1>
        <form action="{{ url_for('edit_question_post', question_id=question['id']) }}" method="post" enctype="multipart/form-data">
            <label for="title"><b>Title question:</b></label><br>
            <input name="title" id="title" type="text" minlength="5" maxlength="100" value="{{ question['title'] }}"><br><br>
            <label for="message"><b>Message question:</b></label><br>
            <textarea name="message" id="message" minlength="5" maxlength="1500">{{ question["message"]}}</textarea><br><br>
            {% if question["image"] != "" %}
                <img src="{{ img_path }}/{{ question["image"] }}" alt="{{ question["image"] }}" title="{{ question["image"] }}" width="100" height="auto">
                <br><br>
                <input type="file" name="image" id="image"><br><br>
            {% else %}
                <input type="file" name="image" id="image" value="No file uploaded yet"><br><br>
            {% endif %}
{#            {% for tag in tags_list %}#}
{#                {% if tag["Name"] in question["Tag"] %}#}
{#                    <input type="checkbox" name="{{ tag['Name'] }}" id="{{ tag['Name'] }}" value="{{ tag['Name'] }}" checked>{{ tag['Name'] }}#}
{#                {% else %}#}
{#                    <input type="checkbox" name="{{ tag['Name'] }}" id="{{ tag['Name'] }}" value="{{ tag['Name'] }}">{{ tag['Name'] }}#}
{#                {% endif %}#}
{#            {% endfor %}#}
            <br><br>
            <input type="submit" value="Edit question">
        </form>
    {% else %}
        <h1>Edit answer</h1>
        <form action="{{ url_for("edit_answer_post", answer_id=answer["id"]) }}" method="post" enctype="multipart/form-data">
            <label for="message"> Answer:</label><br><br>
            <textarea name="message" id="message" minlength="1" maxlength="5000">{{ answer["message"] }}</textarea>
            <br><br>
            <label for="image">Choose a new image:</label><br><br>
            <input type="file" name="image" id="image" value="{{ answer["image"] }}">
            <br><br><br><br>
            <input type="submit" value="Edit">
            <br><br>
        </form>
        <p>Image attached:</p>
        {% if answer["image"] != "" %}
            <form action="{{ img_path }}" target="_blank">
                <button><img src="{{ img_path }}" alt="{{ answer["image"] }}" title="{{ answer["image"] }}" width="100" height="auto"></button>
            </form>
            <br><br>
            <form action="{{ url_for("delete_answer_img", answer_id=answer["id"]) }}">
                <button type="submit" style="border: 0 none; background: none;" name="delete_image" value="delete_image"><img src="/static/images/remove_image.png" width="33" height="auto"></button>
            </form>
        {% endif %}
    {% endif %}
</body>
</html>