<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>LAB Stackoverflow</title>
</head>
<body bgcolor="#fefefe">
<table>
    <tr>
        <td>
            <a href="{{ url_for("index") }}">
            <img src="/static/images/stack_lab_askmate.png" width = "600" height="auto">
            </a>
        </td>
        <td>
            <form action="{{ url_for('add_question_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="ask_a_question" value="ask_a_question"><img src="/static/images/ask_a_question.png" width="200" height="auto"></button>
            </form>
        </td>

    </tr>
</table>
<br>
<table border="1" width="50%">
    <tr>
        <tdcolspan="3"></td>
        <td width="20%"></td>
        <td></td>
        <td style="text-align: right">Question date:</td>
        <td style="text-align: center">Last Month</td>
        <td style="text-align: center">Last 3 months</td>
        <td style="text-align: center">All Time</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td  style="text-align: right" >

        <form method = "POST" action="{{ url_for("index_post") }}">
            <button type="submit" style="border: 0 none; background: none;" name="actual_advanced_filter_clicked" value="clicked">
                {% if server_state.actual_advanced_filter_on == "no" %}
                <img src="/static/images/advanced_filter_off.png" width="22" height="auto">
                Advanced filter (click)
                {% else %}
                <img src="/static/images/advanced_filter_on.png"  width="22" height="auto">
                 Advanced filter
                {% endif %}
            </button>
        </form>


        <a href="{{ url_for("index_post", actual_advanced_filter_clicked="clicked")  }}"></a>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% if server_state.actual_advanced_filter_on == "yes" %}
    <tr>
        <td></td>
        <td></td>
        <td style="text-align: right" >Status: </td>
        <td style="text-align: center">new</td>
        <td style="text-align: center">discussed</td>
        <td style="text-align: center">closed</td>

    </tr>
    {% endif %}
    <tr>
        <td style="text-align: right">filter search:</td>
        <td  colspan="4">

        </td>
        <td style="text-align: center">find</td>
    </tr>


</table>
<table border="1" width="50%">

        <thead>
            <tr>
                {% for header in headers %}
                    <th scope="col">
                    {% if header != "Id" and header != "Image" and header != "Message"  and header != "Submission Time"  %}
                        {% if header == "Vote Number" %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">Votes</a>
                        {% elif header == "View Number" %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">Views</a>
                        {% elif header == "Title" %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">Question</a>
                        {% elif header =="Tag" %}
                            Tag
                        {% else %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">{{ header }}</a>
                        {% endif %}

                        {% if header == server_state.actual_sort_column %}
                            {% if server_state.actual_sort_direction == 'descending' %}
                            <img src="static/images/up-arrow-4.png" width="10" height="auto">
                            {% else %}
                            <img src="static/images/down-arrow-4.png" width="10" height="auto">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </th>
                    {% if header == "Vote Number" %}
                    <th><a href="{{ url_for("sort_questions", sort_question_column="Answers")  }}">Answers</a>
                    {% if "Answers" == server_state.actual_sort_column %}
                        {% if server_state.actual_sort_direction == 'ascending' %}
                        <img src="static/images/up-arrow-4.png" width="10" height="auto">
                        {% else %}
                        <img src="static/images/down-arrow-4.png" width="10" height="auto">
                        {% endif %}
                    {% endif %}
                    </th>
                    {% endif %}
                {% endfor %}
                <th>
                    <a href="{{ url_for("sort_questions", sort_question_column="Submission Time")  }}">Date Asked
                    {% if "Submission Time" == server_state.actual_sort_column %}
                        {% if server_state.actual_sort_direction == 'descending' %}
                        <img src="static/images/up-arrow-4.png" width="10" height="auto">
                        {% else %}
                        <img src="static/images/down-arrow-4.png" width="10" height="auto">
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                {% for header in headers %}
                {% if header == "Vote Number" %}
                    <td style="text-align:center">
                    <form method = "POST" action="{{ url_for("vote") }}">
                        <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                        <input type="hidden" name="url_origin" value="index">
                        <input type="hidden" name="vote_for_answer_or_question" value="vote_for_question">
                        <button type="submit" style="border: 0 none; background: none;" name="vote" value="up_vote"><img src="static/images/up-chevron.png" width="12" height="auto"></button>
                    </form>
                    </td>
                    <td rowspan="2" style="text-align:center">{{ answers_number[question["Id"]] }}</td>
                {% else %}
                    <td rowspan="2" style="text-align:center">
                    {% if header == "Title" %}
                    <a href="{{ url_for("display_a_question", question_id=question["Id"])}}">{{ question[header]  | truncate(70)  }}</a>
                    {% elif header != "Id" and header != "Image" and header != "Message"   and header != "Submission Time" %}
                    {{ question[header] }}
                    {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
                <td></td>
            </tr>
            <tr>
                <td style="text-align:center">{{ question["Vote Number"] }}</td>
                <td>{{ question["Submission Time"]}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>

                <td></td>
                <td style="text-align:center">
                <form method = "POST" action="{{ url_for("vote") }}">
                    <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                    <input type="hidden" name="url_origin" value="index">
                    <input type="hidden" name="vote_for_answer_or_question" value="vote_for_question">
                    <button type="submit" style="border: 0 none; background: none;" name="vote" value="down_vote"><img src="static/images/down-chevron.png" width="12" height="auto"></button>
                </form>
                </td>
                <td></td>
                <td rowspan="1" style="text-align:center">
                {{ question["Message"] | truncate(50) }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
