<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>LAB Stackoverflow</title>
</head>
<body bgcolor="#fefefe">
<table>
    <tr>
        <td>
            <a href="{{ url_for("index") }}">
            <img src="/static/images/stack_lab_askmate.png" width = "600" height="auto">
            </a>
        </td>
        <td>
            <form action="{{ url_for('add_question_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="ask_a_question" value="ask_a_question"><img src="/static/images/ask_a_question.png" width="200" height="auto"></button>
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <form action="{{ url_for('login_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="login" value="login"><img src="/static/images/user.png" width="35" height="35"></button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('register_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="register" value="register"><img src="/static/images/new_user.png" width="35" height="35"></button>
            </form>
        </td>

    </tr>
</table>
<br>
<table border="0" width="60%">
    <tr>
        <td  style="text-align: right" colspan="1" width="25%">
            Active Questions filter :</td>

        <td style="text-align: left" width="30" colspan="4">

        <form method = "POST" action="{{ url_for("index_post") }}">
            <button type="submit" style="border: 0 none; background: none;" name="actual_advanced_filter_date_clicked" value="clicked">
                {% if server_state.actual_advanced_filter_on_date == "no" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                {{ server_state.actual_filter_by_date_mode }}
                {% else %}
                <img src="/static/images/up-chevron-2.png"  width="16" height="auto">
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" name="actual_advanced_filter_status_clicked" value="clicked">
                {% if server_state.actual_advanced_filter_on_status == "no" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                {{ server_state.actual_filter_by_status_mode }}
                {% else %}
                <img src="/static/images/up-chevron-2.png"  width="16" height="auto">
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" name="filter_reset_button_clicked" value="clicked">
                {% if server_state.filter_reset_active == "no" %}
                {% else %}
                <img src="/static/images/clear_filter.png"  width="22" height="auto">
                    Reset All Filters
                {% endif %}
            </button>

        </form>
    </tr>
    {% if server_state.actual_advanced_filter_on_date == "yes" %}
    <tr>
        <td style="text-align: right" >Status: </td>

        <td style="text-align: left" colspan="4">

        <form method = "POST" action="{{ url_for("index_post") }}">
            <input type="hidden" name="date_filter_changed" value="true">
            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="date_filter" value="Last month">
                {% if server_state.actual_filter_by_date_mode == "Last month" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                Last month
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                Last month
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="date_filter" value="3 last months">
                {% if server_state.actual_filter_by_date_mode == "3 last months" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                3 last months
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                3 last months
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="date_filter" value="All">
                {% if server_state.actual_filter_by_date_mode == "All" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                All time
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                All time
                {% endif %}
            </button>

        </form>
        </td>
    </tr>
    {% endif %}

    {% if server_state.actual_advanced_filter_on_status == "yes" %}
    <tr>
        <td style="text-align: right" >Status: </td>

        <td style="text-align: left" colspan="4">

        <form method = "POST" action="{{ url_for("index_post") }}">
            <input type="hidden" name="status_filter_changed" value="true">
            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="status_filter" value="active">
                {% if server_state.actual_filter_by_status_mode == "active" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                active
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                active
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="status_filter" value="new">
                {% if server_state.actual_filter_by_status_mode == "new" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                new
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                new
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="status_filter" value="discussed">
                {% if server_state.actual_filter_by_status_mode == "discussed" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                discussed
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                discussed
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="status_filter" value="closed">
                {% if server_state.actual_filter_by_status_mode == "closed" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                closed
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                closed
                {% endif %}
            </button>

            <button type="submit" style="border: 0 none; background: none;" data-inline="true" name="status_filter" value="all">
                {% if server_state.actual_filter_by_status_mode == "all" %}
                <img src="/static/images/filter_date_on.png" width="22" height="auto">
                all
                {% else %}
                <img src="/static/images/filter_date_off.png"  width="22" height="auto">
                All
                {% endif %}
            </button>

        </form>
        </td>
    </tr>
    {% endif %}



    <tr>
        <td style="text-align: right">Search: </td>
        <td  colspan="5">
        <form method = "POST" action="{{ url_for("index_post") }}">
            <input  name="searched_text" type="text"  value="{{ server_state.actual_filter_by_search_mode }}" placeholder="Type in for search in questions.." size="65%"/>
            <button type="submit" style="border: 0 none; background: none;" name="filter_search_clicked" value="yes"><img src="/static/images/search.png" width="26" height="auto">Search</button>
        </form>

        </td>
    </tr>


</table>
<table border="0" width="60%">

        <thead>
            <tr>
                {% for header in headers %}
                    <th scope="col">
                    {% if header != "Id" and header != "Image" and header != "Message"  and header != "Submission Time"  %}
                        {% if header == "Vote Number" %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">Votes</a>
                        {% elif header == "View Number" %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">Views</a>
                        {% elif header == "Title" %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">Question</a>
                        {% elif header =="Tag" %}
                            Tag
                        {% else %}
                            <a href="{{ url_for("sort_questions", sort_question_column=header)  }}">{{ header }}</a>
                        {% endif %}

                        {% if header == server_state.actual_sort_column %}
                            {% if server_state.actual_sort_direction == 'descending' %}
                            <img src="static/images/up-arrow-4.png" width="10" height="auto">
                            {% else %}
                            <img src="static/images/down-arrow-4.png" width="10" height="auto">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </th>
                    {% if header == "Vote Number" %}
                    <th><a href="{{ url_for("sort_questions", sort_question_column="Answers")  }}">Answers</a>
                    {% if "Answers" == server_state.actual_sort_column %}
                        {% if server_state.actual_sort_direction == 'ascending' %}
                        <img src="static/images/up-arrow-4.png" width="10" height="auto">
                        {% else %}
                        <img src="static/images/down-arrow-4.png" width="10" height="auto">
                        {% endif %}
                    {% endif %}
                    </th>
                    {% endif %}
                {% endfor %}
                <th>
                    <a href="{{ url_for("sort_questions", sort_question_column="Submission Time")  }}">Date Asked
                    {% if "Submission Time" == server_state.actual_sort_column %}
                        {% if server_state.actual_sort_direction == 'descending' %}
                        <img src="static/images/up-arrow-4.png" width="10" height="auto">
                        {% else %}
                        <img src="static/images/down-arrow-4.png" width="10" height="auto">
                        {% endif %}
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                {% for header in headers %}
                {% if header == "Vote Number" %}
                    <td style="text-align:center">
                    <form method = "POST" action="{{ url_for("vote") }}">
                        <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                        <input type="hidden" name="url_origin" value="index">
                        <input type="hidden" name="vote_for_answer_or_question" value="vote_for_question">
                        <button type="submit" style="border: 0 none; background: none;" name="vote" value="up_vote"><img src="static/images/up-chevron.png" width="12" height="auto"></button>
                    </form>
                    </td>
                    <td rowspan="2" style="text-align:center">{{ answers_number[question["Id"]] }}</td>
                {% elif header == "Status" %}
                    <td rowspan="2" style="text-align:center">
                        {% if question["Status"] == "new" %}
                            <img src="/static/images/question_status_new.png" width="33" height="auto">
                        {% elif question["Status"] == "discussed" %}
                            <img src="/static/images/question_status_discussed.png" width="33" height="auto">
                        {% elif question["Status"] == "closed" %}
                            <img src="/static/images/question_status_closed.png" width="33" height="auto">
                        {% endif %}
                        <br>
                        {{ question["Status"] }}
                    </td>
                {% else %}
                    <td rowspan="2" style="text-align:center">
                    {% if header == "Title" %}
                    <a href="{{ url_for("display_a_question", question_id=question["Id"])}}">{{ question[header]  | truncate(70)  }}</a>
                    {% elif header != "Id" and header != "Image" and header != "Message"   and header != "Submission Time" %}
                    {{ question[header] }}
                    {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
                <td></td>
            </tr>
            <tr>
                <td style="text-align:center">{{ question["Vote Number"] }}</td>
                <td>{{ question["Submission Time"]}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>

                <td></td>
                <td style="text-align:center">
                <form method = "POST" action="{{ url_for("vote") }}">
                    <input type="hidden" name="question_id" value="{{ question["Id"] }}">
                    <input type="hidden" name="url_origin" value="index">
                    <input type="hidden" name="vote_for_answer_or_question" value="vote_for_question">
                    <button type="submit" style="border: 0 none; background: none;" name="vote" value="down_vote"><img src="static/images/down-chevron.png" width="12" height="auto"></button>
                </form>
                </td>
                <td></td>
                <td rowspan="1" style="text-align:center">
                {{ question["Message"] | truncate(50) }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
