<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAB Stacoverflow</title>
</head>
<body>
<header>
<nav>
        <a href="{{ url_for("index") }}">
            <img src="/static/images/stack_lab_askmate.png" width = "600" height="auto">
        </a>


        <form action="{{ url_for('add_question_get')}}">
            <button type="submit" style="border: 0 none; background: none;" name="ask_a_question" value="ask_a_question"><img src="/static/images/ask_a_question.png" width="200" height="auto"></button>
        </form>
</nav>
</header>


    <table>
        <thead>
            {% for header in headers %}
                {% for property in header %}
                    {% if header.get(property) != "id" and  header.get(property) != "image" %}
                    <th>
                        {{ header.get(property).replace("_", " ").upper() }}
                    </th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for property in question %}
                        {% if property != "id" and property != "image" %}
                            {% if property == "title" %}
                                <td>
                                    <a href="{{ url_for("display_a_question", question_id=question.get("id")) }}">{{ question.get(property) }}</a>
                                </td>
                            {% elif property == "message" %}
                                <td>
                                    {{ question.get(property) | truncate(50) }}
                                </td>
                            {% else %}
                                <td>
                                    {{ question.get(property) }}
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>