<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAB Stackoverflow</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <a href="{{ url_for("index") }}">
            <img src="/static/images/stack_lab_askmate.png" width = "600" height="auto">
            </a>
        </div>
        <div>
            <form action="{{ url_for('add_question_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="ask_a_question" value="ask_a_question"><img src="/static/images/ask_a_question.png" width="200" height="auto"></button>
            </form>
        </div>
        <div>
            <form action="{{ url_for('login_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="login" value="login"><img src="/static/images/user.png" width="35" height="35"></button>
            </form>
        </div>
        <div>
            <form action="{{ url_for('register_get')}}">
                <button type="submit" style="border: 0 none; background: none;" name="register" value="register"><img src="/static/images/new_user.png" width="35" height="35"></button>
            </form>
        </div>

        {% block content %}{% endblock %}

    </div>
</body>
</html>