{% extends "layout.html" %}

{% block content %}

    {% if login_or_register == "login" %}
        <table border="0" width="50%">
            <tr>
                <td width="50%" style="text-align: center">
                <h1>Sing in:</h1>
                <br>
                <form action="{{ url_for("login_post") }}" method="post">
                    <label for="Username">Username:</label>
                    <input type="text" id="Username" name="Username" minlength="4"><br><br>
                    <label for="Password">Password:</label>
                    <input type="password" id="Password" name="Password" minlength="8" required><br><br>
                    <input type="submit" value="Sing in">
                </form>
                </td>
                <td style="text-align: center">
                <h1>Sign in / Sign up <br> with Google Account:</h1>
                <form method="POST" action="{{ url_for("login_google") }}">
                    <button type="submit" style="border: 0 none; background: none;" name="login_google" value="login_google">
                    <img src="/static/images/google_login.png" width="44" height="auto"></button>
                </form>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <b>Register instead ?</b><br>
                     Click here:

                <form method = "GET" action="{{ url_for("register_get") }}">
                    <button type="submit" style="border: 0 none; background: none;" name="register" value="register"><img src="/static/images/new_user.png" width="33" height="auto"></button>
                </form>

                </td>
            </tr>

        </table>
    {% else %}
        <h1>Sign up</h1>
        <br><br>
        <form action="{{ url_for("register_post") }}" method="post">
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" minlength="4"><br><br>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" minlength="8" required><br><br>
            <input type="submit" value="Sign up">
        </form>
    {% endif %}

{% endblock %}