{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <table class="table table-hover align-middle">
        <thead class = "table-light">
            <tr>
                {% for header in headers %}
                    {% for property in header %}
                        {% if header[property] != "email" and header[property] != "password" and header[property] != "user_photo" and header[property] != "user_id" %}
                            <th>
                                {{ header[property].replace("_", " ").capitalize() }}
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    {% for header in user %}
                        {% if user[header] == "username" %}
                            <td>
                                <a href="#">{{ user[header] }}</a>
                            </td>
                        {% else %}
                            <td>
                                {{ user[header] }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}